@model CIS.Models.ReportsModel


@{
    ViewBag.Title = "Home Page";
}

<style>
    /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
    #map {
        height: 100%;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    #mapOptions {
        width: 220px;
        text-align: center;
        position: fixed;
        top: 50px;
        right: 50px;
    }
</style>

<div class="row" id="map">
</div>

<div class="list-group" id="mapOptions">
    <a href="#" class="list-group-item" data-toggle="modal" data-target="#modalReport">Report Crime Incident</a>
    <a href="#" class="list-group-item">Show Area Crime Report</a>
    <a href="#" class="list-group-item list-group-item-danger" onclick="hide();">Cancel</a>
</div>






<div class="modal fade" id="modalReport" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Report a Crime Incident</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm())
            {
                <div class="modal-body">


                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4>ReportsModel</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                        <div class="form-group">
                            @Html.LabelFor(model => model.incident_details, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.incident_details, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.incident_details, "", new { @class = "text-danger" })
                            </div>
                        </div>



                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Next</button>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/gmaps.js")"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDx_kiLyXQBUWuVFMB5iLI-aE3PnhimYFw&callback=initMap" async defer></script>





}